<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<div>
    <h1>Test APIs</h1>
    <ul>
        <li><a href="/api/daypie">daypie!</a></li>
        <li><a href="/api/daybar">daybar!</a></li>
        <li><a href="/api/topvis">topvis!</a></li>
        <li><a href="/api/getfaces">getfaces!</a></li>
        <br/>
        <form action="/api/getrecords" method="get">
            <label>start</label><input type="text" name="start" value="0">
            <label>end</label><input type="text" name="end" value="10">
            <label>name</label><input type="text" name="name" value="">
            <label>ignore_strange</label><input type="checkbox" name="ignore_strange">
            <input type="submit" value="get!">
        </form>
    </ul>

    <h1>Test upload new face to trustlib</h1>
    <form action="/trustaddface" method="post" enctype="multipart/form-data">
        <input type="file" name="file1" value="file1">
        <input type="text" name="facename">
        <input type="submit" value="submit">
    </form>

    <h1>Test upload new face to detect</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file1" value="file1">
        <input type="submit" value="submit">
    </form>

    <h1>records</h1>
    {% for record in records %}
         <li>
             {{ record.id }}
             {{ record.time }}
             <img src="/static/uploads/{{record.file_hash}}.jpg" width="128" height="128">
             {{ record.face_id }}
             {{ record.cof }}

         </li>
    {% end %}

    <h1>Test delete face</h1>
    {% for face in faces %}
         <li>
             {{ escape(face.name) }}
             <img src="/static/trustlib/{{face.file_hash}}.jpg" width="128" height="128">
             <form action="./trustdelface" method="get">
                <input type="text" name="file_hash" value="{{ face.file_hash }}" hidden>
                <input type="submit" value="delete">
             </form>
         </li>
    {% end %}
</div>
</body>
</html>